* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 39, 38);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;

  h1 {
    margin: 0 20px;
    color: #fff;
  }
}

.search {
  width: 230px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  padding-left: 15px;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(38, 39, 38);

  div {
    width: 250px;
    height: 320px;
    margin: 20px 15px;
    background: black;
  }
}

img {
  width: 100%;
  height: 89%;
  object-fit: cover;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
